
@model  ProERP.Web.Models.SubAssemblyViewModel


<div class="form-group">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label title="" class="control-label"> Name</label>
            <div title="A SubAssembly name" class="ico-help" area-describedby="">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <input type="hidden" value="@ViewBag.SubAssemblyId" ng_model="model.Id" id="hdnSubAssemblyId" />

        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", ng_model = "model.Name" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label title="" class="control-label">Description</label>
            <div title="site description" class="ico-help" area-describedby="">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        @Html.TextAreaFor(m => m.Description, new { @rows = 5, @class = "form-control", ng_model = "model.Description" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label title="" class="control-label">Site</label>
            <div title="select site for plant belongs to" class="ico-help" area-describedby="">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <jqx-drop-down-list ng-model="model.SiteId"
                            jqx-width="300"
                            jqx-height="30"
                            jqx-auto-drop-down-height="true"
                            jqx-display-member="'Name'"
                            jqx-value-member="'Id'"
                            jqx-source="SiteSource"
                            jqx-theme="theme"
                            jqx-instance="SiteInstance"
                             jqx-on-binding-complete="onBindingSite(event)"
                            jqx-on-change="onSelectSite(event)"></jqx-drop-down-list>

    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label title="" class="control-label">Plant</label>
            <div title="select plant" class="ico-help" area-describedby="">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <jqx-drop-down-list ng-model="model.PlantId"
                            jqx-width="300"
                            jqx-height="30"
                            jqx-auto-drop-down-height="true"
                            jqx-display-member="'Name'"
                            jqx-value-member="'Id'"
                            jqx-source="PlantSource"
                            jqx-theme="theme"
                            jqx-instance="PlantInstance"
                            jqx-auto-bind="false"
                            jqx-on-binding-complete="onBindingPlant(event)"
                            jqx-on-change="onSelectPlant(event)"></jqx-drop-down-list>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label title="" class="control-label">Line</label>
            <div title="select plant" class="ico-help" area-describedby="">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <jqx-drop-down-list ng-model="model.LineId"
                            jqx-width="300"
                            jqx-height="30"
                            jqx-auto-drop-down-height="true"
                            jqx-display-member="'Name'"
                            jqx-value-member="'Id'"
                            jqx-source="LineSource"
                            jqx-instance="LineInstance"
                            jqx-auto-bind="false"
                            jqx-on-binding-complete="onBindingLine(event)"
                            jqx-on-change="onSelectLine(event)"
                            jqx-theme="theme"></jqx-drop-down-list>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label title="" class="control-label"> Machine</label>
            <div title="A Machine name" class="ico-help" area-describedby="">
                <i class="fa fa-question-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <jqx-drop-down-list ng-model="model.MachineId"
                            jqx-width="300"
                            jqx-height="30"
                            jqx-auto-drop-down-height="true"
                            jqx-display-member="'Name'"
                            jqx-value-member="'Id'"
                            jqx-source="MachineSource"
                            jqx-instance="MachineInstance"
                            jqx-auto-bind="false"
                            jqx-on-binding-complete="onBindingMachine(event)"
                            jqx-theme="theme"></jqx-drop-down-list>
    </div>
</div>



