
@using ProERP.Web.Framework.UI;
@model  ProERP.Web.Models.IndentViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("Items");
}

<div ng-controller="AddOrUpdateController">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add item
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/Item/List/">back to item list</a>
            </small>
        </h1>
        <div class="pull-right">
            <button class="btn bg-blue" ng-click="SaveNewItem(1)">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
        </div>
    </div>
    <div class="content">

        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabDetail" data-toggle="tab" data-tab-name="tabDetail">Item Detail</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabDetail">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @Html.Partial("_AddOrUpdateItem", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/JS/Item/AddOrUpdateController.js"></script>

}




