<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Title="ProERP" controller="Home" action="Index">
    <siteMapNode SystemName="Dashboard" Title="Dashboard" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Home" action="DashBoard" IconClass="fa-dashboard" />
    <siteMapNode SystemName="Sources" Title="Sources" PermissionNames="Admin,Lavel2" IconClass="fa-database" >
      <!--<siteMapNode SystemName="Sites" Title="Sites" PermissionNames="Admin,Lavel2" controller="Site" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Plants" Title="Plants" PermissionNames="Admin,Lavel2" controller="Plant" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Lines" Title="Lines" PermissionNames="Admin,Lavel2" controller="Line" action="List" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="Machines" Title="Machines" PermissionNames="Admin,Lavel2" controller="Machine" action="List" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Product" Title="Product" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="RMItem" Title="RM Item" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="RMItem" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="WIPStore" Title="WIP Store" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="WIPStore" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Items" Title="Items" PermissionNames="Admin,Lavel2" controller="Item" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="IndentBudget" Title="Indent Budget" PermissionNames="Admin,Lavel2" controller="Indent" action="ListIndentBudget" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="Vendor" Title="Vendor" PermissionNames="Admin,Lavel2" controller="Vendor" action="List" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="SubAssemblies" Title="SubAssemblies" PermissionNames="Admin" controller="SubAssembly" action="List" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="Parts" Title="Parts" PermissionNames="Admin" controller="Part" action="List" IconClass="fa-dot-circle-o"/>-->

    </siteMapNode>
    <!-- <siteMapNode SystemName="Catalog" Title="Catalog" PermissionNames="Admin" IconClass="fa-book" >
        </siteMapNode>-->
    <siteMapNode SystemName="Modules" Title="Modules" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" IconClass="fa-windows">
      <!--<siteMapNode SystemName="Breakdowns" Title="Breakdowns" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Breakdown" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="BreakdownsView" Title="Breakdowns New" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Breakdown" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Backup" Title="Backup Breakdowns Data" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="System" action="Backup" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="PreventiveMaintenance" Title="Preventive Maintenance" PermissionNames="Admin,Lavel2,Lavel1" controller="PreventiveMaintenance" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="VerifyPreventive" Title="Verify Preventive" PermissionNames="Admin,Lavel2,Lavel1" controller="PreventiveMaintenance" action="VerifyPreventive" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="MaintenanceRequest" Title="Maintenance Request" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="MaintenanceRequest" action="List" IconClass="fa-dot-circle-o"/>
      --><!--<siteMapNode SystemName="AuditTask" Title="Audit Request" PermissionNames="Admin,Lavel2,Lavel1" controller="AuditTask" action="List" IconClass="fa-dot-circle-o"/>--><!--
      <siteMapNode SystemName="EngineeringPurchase" Title="Engineering Purchase" PermissionNames="Admin,Lavel2,Lavel1" controller="Indent" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Documents" Title="Documents" PermissionNames="Admin,Lavel2,Lavel1" controller="Documents" action="List" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Create" Title="Create Formulation" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="FormulationRequest" action="Create/0" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="FormulationRequest" Title="Formulation List" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="FormulationRequest" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Utility" Title="Utility" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Utility" action="Index" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="UtilityConfiguration" Title="Utility Configuration" PermissionNames="Admin,Lavel2,Lavel1" controller="Utility" action="UtilityConfiguration" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="DailyPackingDetails" Title="Daily Packing Details" PermissionNames="Admin,Lavel2,Lavel1" controller="Utility" action="DailyPackingDetails" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ProcessLogSheet1" Title="Process LogSheet1" PermissionNames="Admin,Lavel2,Lavel1" controller="Utility" action="ProcessLogSheet1" IconClass="fa-dot-circle-o"/>-->
      </siteMapNode>
    <!--<siteMapNode SystemName="Resources" Title="Resources" PermissionNames="Admin" IconClass="fa-user">
      <siteMapNode SystemName="Users" Title="Users" PermissionNames="Admin" controller="Account" action="AllUsers" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Workers" Title="Workers" PermissionNames="Admin" controller="Worker" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>-->

    <siteMapNode SystemName="Reports" Title="Reports" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" IconClass="fa-file-text-o">
      <!--<siteMapNode SystemName="BreakdownAnalysis" Title="Breakdown" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="" action="" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="BAHistoryReportTemplate" Title="Breakdown Analysis" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Report" action="ReportTemplate" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="BASummary" Title="Analysis Summary" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Report" action="BDAnalysisSummary" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="BAHistoryReportMonthly" Title="Monthly Summary" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Report" action="BreakdownMonthlySummary" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="BAHistoryReport" Title="History Report" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Report" action="HistoryCard" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="RepeatedMajorReport" Title="Repeated Report" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Report" action="RepeatedMajorReport/Repeated" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="RepeatedMajorReport" Title="Major Report" PermissionNames="Admin,Lavel2,Lavel1,Lavel3" controller="Report" action="RepeatedMajorReport/Major" IconClass="fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode  Title="Preventive" PermissionNames="Admin,Lavel2,Lavel1"  IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="PMReport2" Title="Summary Report" PermissionNames="Admin,Lavel2,Lavel1" controller="PreventiveMaintenance" action="Report2" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="PMReport1" Title="Detail Report" PermissionNames="Admin,Lavel2,Lavel1" controller="PreventiveMaintenance" action="Report1" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="PreventiveSummary" Title="Monthly Summary" PermissionNames="Admin,Lavel2,Lavel1" controller="Report" action="PreventiveSummary" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="ShutdownMonthlySummary" Title="Shutdown Summary" PermissionNames="Admin,Lavel2,Lavel1" controller="Report" action="ShutdownMonthlySummary" IconClass="fa-dot-circle-o"/>        
      </siteMapNode>
      <siteMapNode SystemName="Indent" Title="Indent" PermissionNames="Admin,Lavel2,Lavel1"  IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="EPIndentBudget" Title="Monthly Summary" PermissionNames="Admin,Lavel2,Lavel1" controller="Report" action="IndentBudget" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="EPConsolidateReport" Title="Consolidate Report" PermissionNames="Admin,Lavel2,Lavel1" controller="Report" action="ConsolidateReport" IconClass="fa-dot-circle-o"/>
        <siteMapNode SystemName="PRSummaryReport" Title="PR Summary Report" PermissionNames="Admin,Lavel2,Lavel1" controller="Report" action="PRSummaryReport" IconClass="fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="MaintenanceRequest" Title="Maintenance" PermissionNames="Admin,Lavel2,Lavel1"  IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="MaintenanceRequestReport" Title="Maintenance Report" PermissionNames="Admin,Lavel2,Lavel1" controller="Report" action="MaintenanceRequestReport" IconClass="fa-dot-circle-o"/>
      </siteMapNode>-->

    </siteMapNode>

    <siteMapNode SystemName="Settings" Title="Settings" PermissionNames="Admin" IconClass="fa-cogs">
      <siteMapNode SystemName="ManageUsers" Title="Manage Users" PermissionNames="Admin" controller="Manage" action="ManageUsers" IconClass="fa-cog"/>
      <siteMapNode SystemName="ViewNotes" Title="Release Notes" PermissionNames="Admin" controller="Home" action="ViewNotes" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

