@model ProERP.Web.Models.RMItemViewModel

<jqx-validator jqx-instance="ItemValidator" jqx-hint-type="'label'" jqx-rules="ItemRules">
    <div class="form-group">
        <div class="col-md-4">
            <div class="label-wrapper">
                <label title="Product Code" class="control-label">Item Category</label>
            </div>
        </div>
        <div class="col-md-8">
                <jqx-drop-down-list ng-model="model.CategoryId"
                                    jqx-width="'100%'"
                                    jqx-auto-drop-down-height="false"
                                    jqx-display-member="'Name'"
                                    jqx-value-member="'Id'"
                                    jqx-source="ItemCategorySource"
                                    jqx-instance="ddlItemCategory"
                                    jqx-theme="theme"
                                    id="ddlItemCategory"></jqx-drop-down-list>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <div class="label-wrapper">
                <label title="Item Name" class="control-label">Item Code</label>
            </div>
        </div>
        <div class="col-md-8">
                <jqx-input ng-model="model.ItemCode" jqx-height="25" jqx-width="'100%'" jqx-theme="theme" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <div class="label-wrapper">
                <label title="Item Name" class="control-label">Name</label>
            </div>
        </div>
        <div class="col-md-8">
                <jqx-input ng-model="model.Name" id="txtItemName" jqx-height="25" jqx-width="'100%'" jqx-theme="theme" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <div class="label-wrapper">
                <label title="Description" class="control-label">Description</label>
            </div>
        </div>
        <div class="col-md-8">
                <textarea class="form-control text-box multi-line" type="text" ng-model="model.Description" value="" style="padding-left:1px;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <div class="label-wrapper">
                <label title="Active" class="control-label">Active</label>
            </div>
        </div>
        <div class="col-md-8">
                <label><jqx-check-box jqx-instance="chkIsAcive" jqx-checked="true" ng-model="model.IsActive"></jqx-check-box></label>
        </div>
    </div>

</jqx-validator>

<style type="text/css">
    .jqx-validator-error-label {
        display: none !important;
    }
</style>


