@using ProERP.Web.Framework.UI;
@model  ProERP.Web.Models.LineViewModel


@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.SetActiveMenuItemSystemName("Lines");
}

<div ng-controller="LineUpdateController">
 <div class="content-header clearfix">
            <h1 class="pull-left">
                Update Line
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a href="/Line/List/">back to line list</a>
                </small>
            </h1>
            
        </div>
    <div class="content">

        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabDetail" data-toggle="tab" data-tab-name="tabDetail">Line Detail</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabDetail">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    @Html.Partial("_AddOrUpdateLine", Model)
                                    <div class="pull-right">
                                        <button class="btn bg-blue" ng-click="onUpdateLine(event)">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
</div>

@section scripts {
    <script type="text/javascript" src="~/JS/Line/UpdateController.js"></script>
}