@using ProERP.Web.Framework.UI;
@model  ProERP.Web.Models.IndentViewModel

    @{
        ViewBag.Title = "Add";
        Layout = "~/Views/Shared/_Layout.cshtml";
        Html.SetActiveMenuItemSystemName("EngineeringPurchase");
    }

<div ng-controller="IndentController">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new indent
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/Indent/List/">back to indent list</a>
            </small>
        </h1>
        <div class="pull-right">
       @*<button id="btnDelete" ng-show="IsUpdate" class="btn bg-red" type="button" ng-click="DeleteAll(event)">
           <i class="fa fa-trash-o"></i>
            Delete
        </button>*@
        </div>
    </div>
    <div class="content">

        <div class="form-horizontal">
            <div id="customer-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabDetail" data-toggle="tab" data-tab-name="tabDetail">Indent Detail</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabDetail">
                        <div class="panel-group">
                            @Html.Partial("_AddOrUpdateIndent", Model)
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/JS/Indent/AddOrUpdateController.js"></script>
}


